.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.808),
     rgba($color-primary-dark, 0.808)), url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    // decrease cut
    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    // media query to change the image based on density and screen size
    @media (min-resolution: 192dpi) and (min-width:600px) {
        background-image: linear-gradient(to right bottom, rgba($color-primary, 0.808),
        rgba($color-primary-dark, 0.808)), url(../img/hero.jpg);   
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 3.5rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}